
          /* 
       .vertical-line{
          border-left: 2px solid #000;
          position: relative;
          bottom: 240px; left: 460px;
          height: 100px;
          
        }
      
        body {
            background-image: url(https://img.freepik.com/vecteurs-libre/fond-degrade-dans-tons-verts_23-2148358649.jpg?size=626&ext=jpg);
            background-repeat: no-repeat;
            background-size: 200%;
        }
        .container {
            background-color: rgb(255, 255, 255);
        }
*/
        
